<!-- <div class="login-container">
  <form [formGroup]="options" class="login-form">
    <h2 class="login-title">Log in</h2>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Enter your username" required />
    </mat-form-field>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Enter your password" required />
    </mat-form-field>
    <button mat-raised-button color="primary" class="login-btn">Log in</button>
    <div class="signup-text">or, <a href="#">sign up</a></div>
  </form>
</div> -->
