<!-- <mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Cake shop</span>
  <span class="example-spacer"></span>
  <div class="example-button-row">
    <button mat-button>Home</button>
    <button mat-button>Galary</button>
    <button mat-button>About us</button>
    <button mat-button>Contact us</button>
  </div>
  <div class="example-button-row">
    <button mat-raised-button class="header-btn">Sign in</button>
    <button mat-raised-button class="header-btn">Sign up</button>
  </div>
</mat-toolbar> -->

<app-header></app-header>

<div class="mx-5">
    <h3 class="mt-3 p-4 cardheadertitle">Experience sweetness like never before</h3>
    <div class="row mt-3">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of products; let i = index">
        <app-cakecard [ME]="product"></app-cakecard>
      </div>
    </div>
    <div *ngIf="products.length === 0" class="text-center mt-3">
      <div>No cake added</div>
    </div>
  </div>
  

<!-- <router-outlet></router-outlet> -->